@import "tailwindcss";

/* Smooth scaling transition */
.slick-slide {
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 0.8;
    transform: scale(1);
}

/* Center slide becomes bigger */
.slick-center {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
}

:root {
    --font-inknut: 'Inknut Antiqua', serif;
}
